.header {
  background-color: aquamarine;
}
.header h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
}
.body {
  background-color: antiquewhite;
  padding: 20px;
}
.body li {
  line-height: 40px;
}
.footer {
  background-color: coral;
  text-align: center;
    padding: 20px;
}
.footer button {
  margin-top: 10px;
  padding: 10px 20px;
}
